<launch>
    <!--底盘串口通信与键盘控制-->
<!--    <include file="$(find LeGO-LOAM)/launch/run.launch"/>-->
    <node pkg="serial_communication" type="serial_communication_node" name="serial_communication_node" output="screen" />
    <node pkg="serial_communication" type="telop_key_node" name="telop_key_node" output="screen" />
    <!-- Detected 3d-->
    <include file="$(find detector3d)/launch/run.launch"/>
    <!--- TF 变换 相机 雷达和ROS坐标系之间的转换-->
    <!--<node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 /map    /camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" />-->
    <include file="$(find lego_loam)/launch/run.launch"/>
</launch>
